# Python
__pycache__/
*.py[cod]
*$py.class
venv/
RSP/
.venv/

# Build & Dist
build/
dist/
*.spec
*.exe

# IDE
.idea/
.vscode/

# Multimedia & Large Binaries
ffmpeg.exe
*.mp4
*.wav
*.mp3

# Project Files
*.roneat
*.log
crash_log.txt
pylint_report.txt
